{% extends "layout.html" %}
{% block content %}
  <h1>Project description</h1>
  <p>Η ιστοσελίδα θα παρέχει άπλετες υπηρεσίες για εύκολο και γρήγορο online booking.Ο επισκέπτης μπορεί να κάνει εγγραφή ως χρήστης αν επιθυμεί να κάνει μία ενοικίαση ή σαν ιδιοκτήτης αν επιθυμεί να ανεβάσει ένα ακίνητο που έχει για ενοικίαση.  Καταρχάς δίνει τη δυνατότητα σε ένα χρήστη να επιλέγει από όλα τα μέρη της Ελλάδας κατάλυμα της επιλογής του, προσαρμοσμένο στις ανάγκες του μέσω εξειδικευμένων φίλτρων αναζήτησης .Σημαντικό είναι ότι ο χρήστης μπορεί να επιλέξει ημερομηνία και διάρκεια επίσκεψης καθώς και πολλές άλλες ανέσεις όπως αξιολόγηση του καταλύματος ή να πληρώσει με τρόπο της επιθυμίας του. Ακόμα ένας
χρήστης έχει τη δυνατότητα να επικοινωνήσει με τον ιδιοκτήτη μέσω mail ή μηνύματος για όποια παραπάνω πληροφορία χρειάζεται σχετικά με το κατάλυμα.  Από τη πλευρά του ο ιδιοκτήτης έχει τη δυνατότητα να ανεβάσει ακίνητα που διαθέτει για ενοικίαση προσθέτοντας όλες τις απαραίτητες πληροφορίες . Μπορεί ακόμα να εγκρίνει ή να απορρίψει ενδεχόμενα αιτήματα από χρήστες για ενοικίαση καθώς και να έρθει σε επικοινωνία με τον χρήστη-πελάτη για διευκρινίσεις.



</p>
{% endblock content %}
