{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Επιλέξτε το id του σπιτιού που θέλετε να επεξεργαστείτε :</legend>
                <div class="media">
        
                    <div class="media-body">
                     <table align='center' border='2' width='80%'>
                        <tr>
                            <th class="text-secondary">Όνομα Σπιτιού</th>
                            <th class="text-secondary">Id Σπιτιού</th>


                        </tr>
                        {% for houses in query %}
                            
                                <tr>
                                    
                                    <th class="text-secondary">{{houses.house_name}}</th>
                                    <th class="text-secondary">{{houses.id}}</th>
                                     
                                 
                                </tr>
                            
                        {% endfor %}
                     </table>
                    </div>
                  </div>
                  <br>
                  <br>
                <div class="form-group">
                    {{ form.house_id.label(class="form-control-label") }}


                    {{ form.house_id(class="form-control form-control-lg") }}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}
